@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .main-container {
    @apply w-full min-h-screen bg-black pt-[76px] pb-8 px-3 sm:py-8 sm:pr-8 sm:pl-[80px] lg:pr-4 xl:pr-8 xl:pl-[calc(230px+32px)] border-r-[0.5px] border-r-gray-dark/50;
  }

  .movie-container {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5 gap-x-4 gap-y-8;
  }

  .navbar {
    @apply flex sm:flex-col fixed sm:border-r-[0.5px] sm:border-r-gray-dark/50 transition-all bg-black sm:h-screen sm:w-[65px] xl:w-[230px];
  }

  .menu {
    @apply flex-1 justify-center sm:flex-grow-0 sm:mt-4 sm:px-8 lg:px-4 xl:px-0;
  }

  .sidebar {
    @apply hidden lg:block py-8 bg-black lg:px-4 lg:w-[300px] xl:px-6 xl:w-[360px];
  }
}

.swiper {
  position: relative !important;
  margin-left: 0 !important;
  width: calc(100vw - 230px - 360px) !important;
}

.cast-swiper {
  width: calc(100vw - 260px - 420px - 350px) !important;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 0 1rem;
    z-index: 50;
    height: 60px;
  }

  .navbar .menu,
  .navbar > .menu > ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .swiper {
    width: 100vw !important;
  }
}
